body {
    font-family: 'Times New Roman', serif;
    background-color: #B0C4DE; /* Bej tonunda arka plan */
    margin: 40px;
    padding: 10px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    border-radius: 8px; /* Yuvarlatılmış köşeler */
    position: relative;
}

h1 {
    text-align: center;
    color: #824c28; /* Kahverengi tonunda başlık */
    font-size: 32px;
    text-transform: uppercase; /* Büyük harfe dönüştürme */
    letter-spacing: 2px; /* Harf aralığı */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #6b4423; /* Koyu kahverengi tonunda metin */
}

input[type="number"], select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #6b4423; /* Koyu kahverengi kenarlık */
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f5ed; /* Bej tonunda arka plan */
    color: #4d260f; /* Koyu kahverengi tonunda metin */
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #b28959; /* Altın rengi düğme */
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #946f3d; /* Daha koyu altın rengi hover */
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f3e6d7; /* Açık krem tonunda sonuç kutusu */
    border: 2px solid #d5bfa9; /* Açık kahverengi kenarlık */
    border-radius: 8px;
    color: #6b4423; /* Koyu kahverengi tonunda metin */
}

.container1,
.container2,
.container3 {
  width: 700px;
  height: auto;
  overflow: hidden;
  position: relative;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #c15555;
    color: #fff;
}

tr:hover {
    background-color: #ddd;
}